* {
  box-sizing: border-box;
}
.container {
  background: #425B89;
  width:  450px;
  height: 450px;
  margin: 0 auto;
  margin-top: 5em;
  border-radius: 20px;
}

.screen {
  background: #CFEFF0;
  height: 1.5em;
  font-size: 2.8em;
  width: 80%;
  margin: auto;
  border-radius: 10px;
  overflow: hidden;
 text-overflow:ellipsis;
  text-align: right;
 }
button {
  width: 20%;
  height: 50%;
  margin-top: 1em;
  border-radius: 10px;
  font-size: 1.5em;
}
.operator {
  background: black;
  margin-left: 8%;
  color: #fff;
 
}
button:hover {
  opacity: .5;
  font-weight: bold;
}
.clear {
background: red;
font-size: 1.5em;
color: #fff;
}

.row {
  height: 95px;
  margin-left: 1em;
 }

.equals {
  background: #000;
  color: #fff;
  font-size: 2em;
  
}

@media (max-width: 600px) {
.container {
  width: 15em;
}
.clear {
  font-size: 1.2em;
}
}